# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem
Gemfile.lock
Gemfile

# Files
.gitignore
.analysis
.DS_Store
*.swp
*~

# Folders
/vendor
bbin/
bin/
coverage
gh-pages/
pkg/
test/dest
tmp/*
/guide